{{#each model.decks as |deck|}}
  <div>
    {{#link-to 'deck' deck}}{{deck.name}}{{/link-to}}
    {{{new-deck deck}}}
  </div>
  {{#each deck.cardDecks as |cardDeck|}}
    {{cardDeck.count}} x {{cardDeck.card.name}}
  {{/each}}
{{/each}}

<a {{action 'test' model}}>test</a>
