<h1>Collection Statistics</h1>
<div class="statistics row">
  <div class="col-sm-6">
    <h4>
      Playable Cards: {{collection-calc cards true false "total" ""}} /
      {{collection-calc cards false false "total" ""}}
      ( {{your-playable-cards-percentage (collection-calc cards true false "total" "") (collection-calc cards false false "total" "")}}% )
    </h4>

    <h5>By Rarity</h5>
    <ul class="list-group">

      <li class="list-group-item">
        Playable Basic Cards:
        {{{display-stats (collection-calc cards true false "rarity" "Basic") (collection-calc cards false false "rarity" "Basic")}}}
      </li>

      <li class="list-group-item">
        Playable Common Cards:
        {{{display-stats (collection-calc cards true false "rarity" "Common") (collection-calc cards false false "rarity" "Common")}}}
      </li>

      <li class="list-group-item">
        Playable Rare Cards:
        {{{display-stats (collection-calc cards true false "rarity" "Rare") (collection-calc cards false false "rarity" "Rare")}}}
      </li>

      <li class="list-group-item">
        Playable Epic Cards:
        {{{display-stats (collection-calc cards true false "rarity" "Epic") (collection-calc cards false false "rarity" "Epic")}}}
      </li>

      <li class="list-group-item">
        Playable Legendary Cards:
        {{{display-stats (collection-calc cards true false "rarity" "Legendary") (collection-calc cards false false "rarity" "Legendary")}}}
      </li>

    </ul>

    <h5>By Set</h5>
    <ul class="list-group">

      <li class="list-group-item">
        Playable Classic Cards:
        {{{display-stats (collection-calc cards true false "cardSet" "Classic") (collection-calc cards false false "cardSet" "Classic")}}}
      </li>

      <li class="list-group-item">
        Playable Promotion Cards:
        {{{display-stats (collection-calc cards true false "cardSet" "Promotion") (collection-calc cards false false "cardSet" "Promotion")}}}
      </li>

      <li class="list-group-item">
        Playable Naxx Cards:
        {{{display-stats (collection-calc cards true false "cardSet" "Naxxramas") (collection-calc cards false false "cardSet" "Naxxramas")}}}
      </li>

      <li class="list-group-item">
        Playable GVG Cards:
        {{{display-stats (collection-calc cards true false "cardSet" "Goblins vs Gnomes") (collection-calc cards false false "cardSet" "Goblins vs Gnomes")}}}
      </li>

      <li class="list-group-item">
        Playable BRM Cards:
        {{{display-stats (collection-calc cards true false "cardSet" "Blackrock Mountain") (collection-calc cards false false "cardSet" "Blackrock Mountain")}}}
      </li>

      <li class="list-group-item">
        Playable TGT Cards:{{{display-stats (collection-calc cards true false "cardSet" "The Grand Tournament") (collection-calc cards false false "cardSet" "The Grand Tournament")}}}
      </li>

      <li class="list-group-item">
        Playable LOE Cards:{{{display-stats (collection-calc cards true false "cardSet" "The League of Explorers") (collection-calc cards false false "cardSet" "The League of Explorers")}}}
      </li>

    </ul>
  </div>

  <div class="col-sm-6">
    <h4>Unique Cards: {{collection-calc cards true true "total" ""}} / {{collection-calc cards false true "total" ""}} ( {{your-playable-cards-percentage (collection-calc cards true true "total" "") (collection-calc cards false true "total" "")}}% )</h4>
    <h5>By Rarity</h5>
    <ul class="list-group">

      <li class="list-group-item">
        Unique Basic Cards:
        {{{display-stats (collection-calc cards true true "rarity" "Basic") (collection-calc cards false true "rarity" "Basic")}}}
      </li>

      <li class="list-group-item">
        Unique Common Cards:
        {{{display-stats (collection-calc cards true true "rarity" "Common") (collection-calc cards false true "rarity" "Common")}}}
      </li>

      <li class="list-group-item">
        Unique Rare Cards:
        {{{display-stats (collection-calc cards true true "rarity" "Rare") (collection-calc cards false true "rarity" "Rare")}}}
      </li>

      <li class="list-group-item">
        Unique Epic Cards:
        {{{display-stats (collection-calc cards true true "rarity" "Epic") (collection-calc cards false true "rarity" "Epic")}}}
      </li>

      <li class="list-group-item">
        Unique Legendary Cards:
        {{{display-stats (collection-calc cards true true "rarity" "Legendary") (collection-calc cards false true "rarity" "Legendary")}}}
      </li>

    </ul>

    <h5>By Set</h5>
    <ul class="list-group">

      <li class="list-group-item">
        Unique Classic Cards:
        {{{display-stats (collection-calc cards true true "cardSet" "Classic") (collection-calc cards false true "cardSet" "Classic")}}}
      </li>

      <li class="list-group-item">
        Unique Promotion Cards:
        {{{display-stats (collection-calc cards true true "cardSet" "Promotion") (collection-calc cards false true "cardSet" "Promotion")}}}
      </li>

      <li class="list-group-item">
        Unique Naxx Cards:
        {{{display-stats (collection-calc cards true true "cardSet" "Naxxramas") (collection-calc cards false true "cardSet" "Naxxramas")}}}
      </li>

      <li class="list-group-item">
        Unique GVG Cards:
        {{{display-stats (collection-calc cards true true "cardSet" "Goblins vs Gnomes") (collection-calc cards false true "cardSet" "Goblins vs Gnomes")}}}
      </li>

      <li class="list-group-item">
        Unique BRM Cards:
        {{{display-stats (collection-calc cards true true "cardSet" "Blackrock Mountain") (collection-calc cards false true "cardSet" "Blackrock Mountain")}}}
      </li>

      <li class="list-group-item">
        Unique TGT Cards:{{{display-stats (collection-calc cards true true "cardSet" "The Grand Tournament") (collection-calc cards false true "cardSet" "The Grand Tournament")}}}
      </li>

      <li class="list-group-item">
        Unique LOE Cards:{{{display-stats (collection-calc cards true true "cardSet" "The League of Explorers") (collection-calc cards false true "cardSet" "The League of Explorers")}}}
      </li>

    </ul>
  </div>
</div>
