<div class="statistics">
  <div>Playable Cards: {{yourPlayable}} / {{totalPlayable}} ( {{playablePercentage}}% )</div>
  <div>Playable Basic Cards: {{yourPlayableBasic}} / {{totalPlayableBasic}} ( {{playablePercentageBasic}}% )</div>
  <div>Playable Common Cards: {{yourPlayableCommon}} / {{totalPlayableCommon}} ( {{playablePercentageCommon}}% )</div>
  <div>Playable Rare Cards: {{yourPlayableRare}} / {{totalPlayableRare}} ( {{playablePercentageRare}}% )</div>
  <div>Playable Epic Cards: {{yourPlayableEpic}} / {{totalPlayableEpic}} ( {{playablePercentageEpic}}% )</div>
  <div>Playable Legendary Cards: {{yourPlayableLegendary}} / {{totalPlayableLegendary}} ( {{playablePercentageLegendary}}% )</div>
  <div>Playable Classic Cards: {{yourPlayableClassic}} / {{totalPlayableClassic}} ( {{playablePercentageClassic}}% )</div>
  <div>Playable Promotion Cards: {{yourPlayablePromotion}} / {{totalPlayablePromotion}} ( {{playablePercentagePromotion}}% )</div>
  <div>Playable Naxx Cards: {{yourPlayableNaxx}} / {{totalPlayableNaxx}} ( {{playablePercentageNaxx}}% )</div>
  <div>Playable GVG Cards: {{yourPlayableGVG}} / {{totalPlayableGVG}} ( {{playablePercentageGVG}}% )</div>
  <div>Playable BRM Cards: {{yourPlayableBRM}} / {{totalPlayableBRM}} ( {{playablePercentageBRM}}% )</div>
  <div>Playable TGT Cards: {{yourPlayableTGT}} / {{totalPlayableTGT}} ( {{playablePercentageTGT}}% )</div>
  <div>Unique Cards: {{yourUnique}} / {{totalUnique}} ( {{uniquePercentage}}% )</div>
  <div>Unique Basic Cards: {{yourUniqueBasic}} / {{totalUniqueBasic}} ( {{uniquePercentageBasic}}% )</div>
  <div>Unique Common Cards: {{yourUniqueCommon}} / {{totalUniqueCommon}} ( {{uniquePercentageCommon}}% )</div>
  <div>Unique Rare Cards: {{yourUniqueRare}} / {{totalUniqueRare}} ( {{uniquePercentageRare}}% )</div>
  <div>Unique Epic Cards: {{yourUniqueEpic}} / {{totalUniqueEpic}} ( {{uniquePercentageEpic}}% )</div>
  <div>Unique Legendary Cards: {{yourUniqueLegendary}} / {{totalUniqueLegendary}} ( {{uniquePercentageLegendary}}% )</div>
  <div>Unique Classic Cards: {{yourUniqueClassic}} / {{totalUniqueClassic}} ( {{uniquePercentageClassic}}% )</div>
  <div>Unique Promotion Cards: {{yourUniquePromotion}} / {{totalUniquePromotion}} ( {{uniquePercentagePromotion}}% )</div>
  <div>Unique Naxx Cards: {{yourUniqueNaxx}} / {{totalUniqueNaxx}} ( {{uniquePercentageNaxx}}% )</div>
  <div>Unique GVG Cards: {{yourUniqueGVG}} / {{totalUniqueGVG}} ( {{uniquePercentageGVG}}% )</div>
  <div>Unique BRM Cards: {{yourUniqueBRM}} / {{totalUniqueBRM}} ( {{uniquePercentageBRM}}% )</div>
  <div>Unique TGT Cards: {{yourUniqueTGT}} / {{totalUniqueTGT}} ( {{uniquePercentageTGT}}% )</div>
</div>
