<div class="statistics">
  <div>Playable Cards: {{yourPlayable}} / {{totalPlayable}} ( {{your-playable-cards-percentage yourPlayable totalPlayable}}% )</div>
  <div>Playable Basic Cards: {{yourPlayableBasic}} / {{totalPlayableBasic}} ( {{your-playable-cards-percentage yourPlayableBasic totalPlayableBasic}}% )</div>
  <div>Playable Common Cards: {{yourPlayableCommon}} / {{totalPlayableCommon}} ( {{your-playable-cards-percentage yourPlayableCommon totalPlayableCommon}}% )</div>
  <div>Playable Rare Cards: {{yourPlayableRare}} / {{totalPlayableRare}} ( {{your-playable-cards-percentage yourPlayableRare totalPlayableRare}}% )</div>
  <div>Playable Epic Cards: {{yourPlayableEpic}} / {{totalPlayableEpic}} ( {{your-playable-cards-percentage yourPlayableEpic totalPlayableEpic}}% )</div>
  <div>Playable Legendary Cards: {{yourPlayableLegendary}} / {{totalPlayableLegendary}} ( {{your-playable-cards-percentage yourPlayableLegendary totalPlayableLegendary}}% )</div>
  <div>Playable Classic Cards: {{yourPlayableClassic}} / {{totalPlayableClassic}} ( {{your-playable-cards-percentage yourPlayableClassic totalPlayableClassic}}% )</div>
  <div>Playable Promotion Cards: {{yourPlayablePromotion}} / {{totalPlayablePromotion}} ( {{your-playable-cards-percentage yourPlayablePromotion totalPlayablePromotion}}% )</div>
  <div>Playable Naxx Cards: {{yourPlayableNaxx}} / {{totalPlayableNaxx}} ( {{your-playable-cards-percentage yourPlayableNaxx totalPlayableNaxx}}% )</div>
  <div>Playable GVG Cards: {{yourPlayableGVG}} / {{totalPlayableGVG}} ( {{your-playable-cards-percentage yourPlayableGVG totalPlayableGVG}}% )</div>
  <div>Playable BRM Cards: {{yourPlayableBRM}} / {{totalPlayableBRM}} ( {{your-playable-cards-percentage yourPlayableBRM totalPlayableBRM}}% )</div>
  <div>Playable TGT Cards: {{yourPlayableTGT}} / {{totalPlayableTGT}} ( {{your-playable-cards-percentage yourPlayableTGT totalPlayableTGT}}% )</div>
  <div>Unique Cards: {{yourUnique}} / {{totalUnique}} ( {{your-playable-cards-percentage yourUnique totalUnique}}% )</div>
  <div>Unique Basic Cards: {{yourUniqueBasic}} / {{totalUniqueBasic}} ( {{your-playable-cards-percentage yourUniqueBasic totalUniqueBasic}}% )</div>
  <div>Unique Common Cards: {{yourUniqueCommon}} / {{totalUniqueCommon}} ( {{your-playable-cards-percentage yourUniqueCommon totalUniqueCommon}}% )</div>
  <div>Unique Rare Cards: {{yourUniqueRare}} / {{totalUniqueRare}} ( {{your-playable-cards-percentage yourUniqueRare totalUniqueRare}}% )</div>
  <div>Unique Epic Cards: {{yourUniqueEpic}} / {{totalUniqueEpic}} ( {{your-playable-cards-percentage yourUniqueEpic totalUniqueEpic}}% )</div>
  <div>Unique Legendary Cards: {{yourUniqueLegendary}} / {{totalUniqueLegendary}} ( {{your-playable-cards-percentage yourUniqueLegendary totalUniqueLegendary}}% )</div>
  <div>Unique Classic Cards: {{yourUniqueClassic}} / {{totalUniqueClassic}} ( {{your-playable-cards-percentage yourUniqueClassic totalUniqueClassic}}% )</div>
  <div>Unique Promotion Cards: {{yourUniquePromotion}} / {{totalUniquePromotion}} ( {{your-playable-cards-percentage yourUniquePromotion totalUniquePromotion}}% )</div>
  <div>Unique Naxx Cards: {{yourUniqueNaxx}} / {{totalUniqueNaxx}} ( {{your-playable-cards-percentage yourUniqueNaxx totalUniqueNaxx}}% )</div>
  <div>Unique GVG Cards: {{yourUniqueGVG}} / {{totalUniqueGVG}} ( {{your-playable-cards-percentage yourUniqueGVG totalUniqueGVG}}% )</div>
  <div>Unique BRM Cards: {{yourUniqueBRM}} / {{totalUniqueBRM}} ( {{your-playable-cards-percentage yourUniqueBRM totalUniqueBRM}}% )</div>
  <div>Unique TGT Cards: {{yourUniqueTGT}} / {{totalUniqueTGT}} ( {{your-playable-cards-percentage yourUniqueTGT totalUniqueTGT}}% )</div>
</div>
