<div class="col-xs-4 col-sm-2 collection-card">
  <div class="float-container"></div>
  <img src="{{card.img}}" class="img-responsive">
  {{#if incomplete}}
    <div class="card-count error">{{card.count}}/{{cardDeck.count}}</div>
  {{else}}
    <div class="card-count">{{card.count}}</div>
  {{/if}}
</div>
