<h4>{{title}}</h4>
<table>
  <th>Rarity</th>
  <th>Average Dust Value</th>
  <th>Chance of draw</th>
  <tr>
    <td>Common</td>
    <td>{{commonValue}}</td>
    <td>{{commonPercent}}%</td>
  </tr>
  <tr>
    <td>Rare</td>
    <td>{{rareValue}}</td>
    <td>{{rarePercent}}%</td>
  </tr>
  <tr>
    <td>Epic</td>
    <td>{{epicValue}}</td>
    <td>{{epicPercent}}%</td>
  </tr>
  <tr>
    <td>Legendary</td>
    <td>{{legendaryValue}}</td>
    <td>{{legendaryPercent}}%</td>
  </tr>
</table>
<div>Average dust value per pack: {{dustValueOfPack}}</div>
